$path-img: '../../img/';
$path-fonts: '../../fonts/';

$font-family-base: 'Exo2', Arial, sans-serif;

$font-size-base: 16px;

$font-line-height-base: 1.2;

$regular: 400;
$semibold: 600;
$bold: 700;

$site-width: 1400px;
$site-gutter: 15px;

$white: #fff;
$black: #000;
$green: #00BF80;
$red: #E22D2D;
$text-color: #2C2C2C;
$gray: #bdbdbd;